/* Mobile first */
.main-content {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.secondary-content {
    width:500px;
    margin:0 auto;
}

.search-box {
    box-sizing: border-box;
    width: 100%;
    border: 3px solid lightblue;
    padding: 10px;
    height: 40px;
    outline: none;
    font-size: large;
    background-image: url(assets/search.png);
    background-size:     30px 30px;
    background-repeat:   no-repeat;
    background-position: 4px 3px; 
    padding-left:40px;
}

.suggestions-list{
    display: none;
    padding:0;
    margin:0;
    border: 1px lightgray solid;
}

.suggestions-item, .suggestions-nomatch{
    display: none;
    font-size: large;
    padding: 5px 10px;
    font-family: sans-serif;
}

.suggestions-item {
    background-image: url(assets/search.png);
    background-size:     30px 30px;
    background-repeat:   no-repeat;
    background-position: 5px 5px; 
    padding-left:40px;
}

.highlighted{
    background-color: lightblue;
}

.suggestions-text{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 70%;
    display:inline-block;
}

.suggestions-category {
    color: blue;
    font-size: xx-small;
    font-style: italic;
    float:right;
}

/* Desktop */
@media (min-width: 750px) {
    .main-content {
        width: 700px;
    }  
    .suggestion-text {
        width: 75%;
    }

    .suggestion-category {
        padding-top: 5px;
        color: blue;
        font-size: small;
    }
}

